.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
  outline: none;
  width: 300px !important;
}

.search-button {
  background-color: transparent;
  color: #0dcaf0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: -40px;
}

.material-icons {
  font-size: 24px;
}

