/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Segoe UI Symbol";
}
:host {
  font-family: "Segoe UI", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ft-20px {
  font-size: 20px !important;
}
.ft-13px {
  font-size: 13px !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}
.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
.bradcrums {
  font-size: 11px;
  color: black;
  font-weight: 500;
}
.bradcrums-light {
  font-size: 11px;
  font-weight: 500;
  color: rgb(172, 168, 168);
}
.main-heading {
  font-size: 24px !important;
  font-family: 800 !important;
}
.sub-main-heading {
  font-size: 14px;
}
.heading {
  color: rgb(172, 168, 168);
  font-size: 12px;
}
.text-color {
  color: #0dcaf0 !important;
}
.red-color {
  color: red;
}
.green-color {
  color: green;
}

.filled-background {
  cursor: pointer;
  width: 100px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-weight: 500;
  padding: 8px 16px;
  color: white;
  background-color: #0dcaf0;
}
.outline-background {
  cursor: pointer;
  margin-left: 13px !important;
  width: 100px;
  display: flex;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid rgb(201, 198, 198);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 4px;
  color: rgb(172, 168, 168);
  background-color: transparent;
}
.light-filled-background {
  cursor: pointer;
  width: 100px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-weight: 500;
  color: #0dcaf0;
  background-color: #b0e6f1;
}
.btn-secondary {
  background-color: rgb(172, 168, 168);
  border: none;
  width: 80px;
  height: 30px;
}
.btn-warning {
  background-color: rgb(77, 39, 77);
  color: #fff;
  border: none;
  width: 80px;
  height: 30px;
}
.btn-warning:hover {
  background-color: rgb(133, 81, 133);
  color: #fff;
}

.btn-danger {
  width: 80px;
  height: 30px;
}
.scroll-table {
  max-height: 340px;
  overflow-y: auto;
}
.scroll-table::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.border-none {
  border: none;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.list-card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.col {
  color: black;
  background-color: white;
  height: 120px;
  display: flex;
  align-items: center;
}
.overflow-y {
  overflow-y: auto !important;
}
.overflow-y::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.icon-class {
  background-color: red;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 50px 10px #0dcaf0 inset;
}
.chart {
  width: 100%;
  height: 400px;
  display: block;
}
.main-card {
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-right: 10px;
}
.sub-heading {
  font-size: 14px;
  font-weight: 500;
}
.table-hover tbody tr:hover {
  background-color: #0dcaf0;
}
.gray-color {
  color: rgb(172, 168, 168);
  cursor: pointer;
}
.bookStatus-table {
  height: 60vh;
  overflow-y: auto;
}
.bookStatus-table::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.book-catgory {
  overflow-x: auto;
  width: 100%;
  background-color: transparent;
}
.book-catgory::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
hr {
  color: rgb(194, 189, 189);
}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 12px;
  outline: none;
  width: 300px !important;
}

.search-button {
  background-color: transparent;
  color: #0dcaf0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: -40px;
}

.material-icons {
  font-size: 24px;
}

/* status buttons */
.availabe-status,
.borrowed-status,
.renew-status,
.reserve-status {
  cursor: pointer;
  width: 100px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-weight: 500;
}

.availabe-status {
  color: rgb(30, 150, 30);
  background-color: rgb(194, 228, 194);
}
.borrowed-status {
  color: red;
  background-color: rgb(240, 198, 185);
}
.renew-status {
  color: rgb(129, 126, 126);
  background-color: rgb(209, 207, 207);
}
.reserve-status {
  color: rgb(77, 39, 77);
  background-color: rgb(212, 185, 212);
}
