<div class="container d-flex flex-column">
  <h1>Welcome to Dashboard</h1>
  <span class="d-flex">
    <h3>Admin/</h3>
    <h3>Dashboard</h3>
  </span>
  <div class="row">
    <!-- Loop through cardList items -->
    <div class="col-md-3" *ngFor="let cardItems of cardList">
      <div class="m-2 shadow p-3 mb-5 bg-body rounded d-flex">
        <div class="w-50">
          <div
            class="rounded-circle icon-class d-flex justify-content-center align-items-center"
          >
            <span class="material-icons text-white" style="line-height: 2">{{
              cardItems.icon
            }}</span>
          </div>
        </div>
        <div class="w-50 d-flex flex-column">
          <p class="text mt-3">{{ cardItems.name }}</p>
          <p>{{ cardItems.quantity }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
